.navbar {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    background: #ffffff;
}
.navbar-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.navbar-item {
    position: relative;
    display: inline-block;
    margin-right: 35px;
    padding: 17px 0;
    &.static {
        position: static !important;
    }
    &:hover:nth-child(1) {
        .mega-menu {
            visibility: visible;
            opacity: 1;
        }
        .icon-menu-up {
            visibility: visible;
            opacity: 1;
        }
    }
}

// MEGA MENU
.mega-menu {
    visibility: hidden;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 100%;
    background: var(--secondary-background);
    border-radius: 0 0 3px 3px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    z-index: 100;
}
.mega-menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 25px 0 0 0;
    max-height: 100%;
    min-height: 100%;
    overflow: auto;
}

.icon-menu-up {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    bottom: -2px;
    width: 20px;
    height: 9px;
    margin-left: -16px;
    z-index: 2;
    transition: 0.2s ease-in-out;
}
.mega-menu-column {
    display: block;
    flex: 0 1 auto;
    margin: 0 0px 30px 25px;
    &:first-child {
        margin-left: 0;
    }
}
.mega-menu-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: norma;
    color: var(--heading-color);
    & b {
        font-weight: 600;
    }
}
.mega-menu-list {
    list-style: none;
    padding: 0;
}
.mega-menu-item {
}
.mega-menu-item-link {
    display: block;
    padding: 5px 0 6px 0;
    line-height: 1.4;
    transition: color 0.2s ease-in-out;
}

.mega-menu-promo {
    flex-basis: 290px;
    width: 290px;
    display: block;
    flex: 0 1 230px;
    min-width: 200px;
    margin: 0 0 30px 30px;
    white-space: normal;
    text-align: center;
}
.mega-menu-image-wrapper {
    margin: 5px 0 22px 0;
    border-radius: 3px;
    overflow: hidden;
}

.mega-menu-image-promo {
}

@media screen and (max-width: 992px) {
    .navbar {
        display: none;
    }
}
