.gf-overlay {
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: #000;
    position: fixed;
    overflow: hidden;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 99999999;
    transition: 0.25s;
    cursor: pointer;
    display: block;
    &.active {
        opacity: 0.5;
        visibility: visible;
    }
}

.gf-filter-tile {
    display: flex;
    border-bottom: 1px solid #dfe3e8;
    padding: 8px 7px 8px 15px;
    align-items: center;
    order: 1;
    .filter-heading {
        flex: 1 1 100%;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    & span {
        display: block;
        z-index: 999;
        cursor: pointer;
        padding: 8px;
        flex: 0 0 36px;
        width: 36px;
        height: 36px;
    }
}

.globo-selected-items-wrapper {
    order: 2;
    flex: 0 0 auto;
    max-height: 200px;
    overflow: auto;
    .gf-block-content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 !important;
        clear: both;
        padding: 15px !important;
        border-bottom: 1px solid #e3e3e3;
        & button {
            margin: 3px;
            background: #666;
            color: #e2e2e2;
            text-decoration: none;
            text-align: center;
            padding: 3px 5px;
            border: none;
            border-radius: 2px;
            font-size: 14px;
            line-height: 1.5;
            text-transform: uppercase;
            cursor: pointer;
            display: block !important;
        }
    }
    .gf-lable-wrapper {
        padding: 3px 3px 3px 5px;
        border: 1px solid #e8e8e8;
        border-radius: 2px;
        display: flex;
        align-items: center;
        background: none;
        cursor: pointer;
    }

    .gf-option-label {
        margin: 3px;
    }
    .selected-item {
        display: flex;
        flex-wrap: wrap;
        & strong {
            text-transform: none;
            font-weight: 400;
        }
    }
    .gf-label {
        margin-right: 3px;
        border-radius: 0 !important;
        text-align: left;
        font-weight: 400;
        font-size: 1.4rem;
    }
    .icon-clear {
        width: 11px;
        height: 11px;
        margin-left: 4px;
        margin-right: 1px;
        font-size: 0;
        line-height: 0;
        flex: 0 0 11px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M11.414 10l6.293-6.293a1 1 0 10-1.414-1.414L10 8.586 3.707 2.293a1 1 0 00-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 101.414 1.414L10 11.414l6.293 6.293A.998.998 0 0018 17a.999.999 0 00-.293-.707L11.414 10z' fill='%235C5F62'%3E%3C/path%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
    }
}

// Content
.gf-filter-contents-wrapper {
    flex: 1 1 100%;
    padding: 0;
    overflow: auto;
    order: 3;
}
.gf-filter-contents {
    padding: 15px !important;
    border-bottom: 1px solid #e3e3e3;
}
.gf-block-title {
    position: relative;
    line-height: 1;
    display: flex;
}
.gf-block-heading {
    flex: 1 1 100%;
    align-items: center;
    display: flex;
    margin: 0;
    line-height: 1.6;
    font-size: 1.3rem !important;
    color: #3a3a3a !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    cursor: pointer;
    letter-spacing: 0;
    & span {
        padding-right: 10px;
    }
    & .icon-chervon-down {
        width: 13px;
        height: 13px;
        margin-left: 4px;
        margin-right: 1px;
        font-size: 0;
        line-height: 0;
        flex: 0 0 13px;
    }
}
.gf-block-content {
    overflow: hidden;
    display: block;
    max-height: none;
    margin-top: 0;
    clear: both;
}
.gf-option-box {
    width: 100%;
    overflow: hidden;
    & li {
        display: block;
        clear: both;
        margin: 0;
        position: relative;
    }
}
.btn-check-box {
    text-decoration: none;
    position: relative;
    padding: 6px 0;
    display: flex;
    line-height: 1.2;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    font-family: inherit;
    letter-spacing: 0;
    height: auto;
    font-size: 14px !important;
    color: #000000 !important;
    text-transform: capitalize !important;
    font-weight: normal !important;
}
.gf-check-box {
    position: relative;
    margin-right: 6px;
    flex: 0 0 16px;
    & input {
        width: 16px;
        height: 16px;
        cursor: pointer;
        &:checked {
            border-color: #00badb;
            background-size: 20px 20px;
            background-position: center;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='Polaris-Icon__Svg' focusable='false' aria-hidden='true'%3E%3Cpath fill='%23ffffff' d='M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0z'%3E%3C/path%3E%3C/svg%3E");
            background-color: #00badb;
        }
    }
    &.active {
        border-color: #00badb;
        background-size: 20px 20px;
        background-position: center;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' class='Polaris-Icon__Svg' focusable='false' aria-hidden='true'%3E%3Cpath fill='%23ffffff' d='M8.315 13.859l-3.182-3.417a.506.506 0 0 1 0-.684l.643-.683a.437.437 0 0 1 .642 0l2.22 2.393 4.942-5.327a.436.436 0 0 1 .643 0l.643.684a.504.504 0 0 1 0 .683l-5.91 6.35a.437.437 0 0 1-.642 0z'%3E%3C/path%3E%3C/svg%3E");
        background-color: #00badb;
    }
}
.gf-label {
    flex: revert;
    margin-right: 3px;
    border-radius: 0 !important;
    text-align: left;
    font-weight: 400;
}

// FOOTER
.gf-footer {
    padding: 15px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #dfe3e8;
    order: 5;
    & button {
        width: 100%;
        border: 1px solid;
        height: 40px;
        line-height: 38px;
        background: 0 0;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 2px;
        font-size: 15px;
        cursor: pointer;
        & b {
            margin: 0px 4px;
        }
    }
}
@media screen and (min-width: 1000px) {
    .gf-tree {
        display: none !important;
    }
    .gf-overlay {
        display: none !important;
    }
}
@media only screen and (max-width: 999px) {
    .gf-tree {
        display: flex;
        flex-direction: column;
        position: fixed;
        overflow: auto;
        top: 0;
        bottom: 0;
        left: -350px;
        width: 350px !important;
        height: 100vh;
        float: left;
        text-align: left;
        min-height: 1px;
        clear: left;
        padding: 0 !important;
        background: #fff;
        z-index: 999999999 !important;
        transition: left 0.25s;
        -webkit-overflow-scrolling: touch;
        &.active {
            left: 0;
            height: 100%;
            transition: left 0.25s;
        }
    }
}

@media only screen and (max-width: 480px) {
    .gf-tree {
        width: 80% !important;
        left: -80%;
    }
}

@media only screen and (max-width: 250px) {
    .gf-footer {
        & button {
            display: grid;
        }
    }
}
