@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.header-search-on-moblie {
    position: absolute;
    padding: 0 20px 0 20px;
    width: 100%;
    flex: 1 0 auto;
    bottom: 0px;
    left: 0;
    background: #ffffff;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, margin-bottom 0.25s ease-in-out;
    &.active {
        margin-bottom: -59px;
        opacity: 1;
        visibility: visible;
    }
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: #ffffff;
        z-index: 9999;
    }
}

.header-search-on-moblie-content {
    min-width: 100%;
    position: relative;
    padding-bottom: 15px;
    font-size: 1.4rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    &.active {
        opacity: 1;
        transition-delay: 0.15s;
    }
    &.fixed {
        padding: 10px 0;
    }
}
.header-inner-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-top {
    position: relative;
    margin-right: -20px;
    display: flex;
    height: 44px;
    align-items: center;
    border-radius: 3px;
    background: var(--secondary-background);
    color: var(--text-color);
    z-index: 1;
    flex-grow: 1;
    box-shadow: 1px 1px var(--header-border-color) inset, -1px -1px var(--header-border-color) inset;
}
.input-wrapper {
    position: relative;
    flex: 1 0 auto;
    height: 100%;
}
//

.header-input {
    height: 100%;
    width: 100%;
    padding: 0 15px 1px 15px;
    border: none;
    background: transparent;
    line-height: normal;
    color: var(--heading-color);
    -webkit-appearance: none;
    outline: none;
}
.button-search {
    flex: none;
    width: 50px;
    height: 100%;
    color: #ffffff;
    background: #000000;
    border-radius: 0 3px 3px 0;
    & .icon-loading {
        width: 20px;
        margin-top: 20px;
        font-size: 1.8rem;
        color: #fff;
        animation: spinner 1s linear infinite;
    }
}

.icon-search {
    width: 20px;
    font-size: 1.8rem;
    color: #fff;
}

// FIXED
.wrapper-tippy {
    position: absolute;
    visibility: hidden;
    top: 65px;
    left: 0px;
    width: 100vw;
    overflow: hidden;
    color: var(--text-color);
    background: var(--secondary-background);
    max-height: 0;
    height: calc(100vh - calc(44px - 18px));
    &.fixed {
        max-height: none;
        visibility: visible;
    }
}
.button-clear {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 50px;
    height: 44px;
    background: transparent;
}

.icon-xmark {
    width: 20px;
    font-size: 1.8rem;
    color: #979797dd;
}

.heading-close {
    padding-left: 22px;
    opacity: 0;
    white-space: nowrap;
    background: none;
    height: 0;
    cursor: pointer;
    width: 0;
    overflow: hidden;
    transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out;
    &.close {
        height: auto;
        margin: 0;
        opacity: 1;
        transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out;
    }
}

// SEARCH-INNER

.search-inner-title {
    margin: 0;
    padding: 7px 20px 6px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    border-bottom: 1px solid #dfcc8e;
}

.search-inner-list {
    padding: 0;
    margin: 0;
    max-height: 270px;
    overflow-y: auto;
    overflow-x: auto;
}

.search-inner-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition: background 0.2s ease-in-out;
    &:hover {
        background: var(--accent-background);
        outline: none;
    }
}

.search-inner-wrapper-image {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    padding: 5px;
    .search-inner-image {
        width: 60px;
        height: 60px;
    }
}

.search-inner-info {
    .search-inner-name {
        margin: 0;
        font-size: 13px;
        font-weight: 400;
    }
    .search-inner-price {
        font-size: 13px;
        font-weight: 400;
    }
}

.wrapper-search-inner-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-top: 1px solid #dfcc8e;
    border-bottom: 1px solid #dfcc8e;
    cursor: pointer;
    .search-inner-footer-title {
        margin: 0;
        font-weight: 600;
    }
    &:hover {
        background: var(--accent-background);
        outline: none;
    }
}

// LOADING
.search-bar-container {
    flex: none;
    width: 60px;
    margin-right: 20px;
}
.aspect-ratio {
    padding-bottom: 100% !important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.search-inner-loading-list {
    padding: 0;
    margin: 0;
    max-height: 270px;
    overflow-y: auto;
    overflow-x: auto;
}
.search-inner-loading-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    transition: background 0.2s ease-in-out;
    &:hover {
        background: var(--accent-background);
        outline: none;
    }
    .search-inner-loading-wrapper-image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: var(--border-color);
        .search-inner-image {
            width: 60px;
            height: 60px;
        }
    }
    .search-inner-loading-name {
        width: 200px;
        height: 10px;
        background-color: #dfcc8e;
    }
    .search-inner-loading-price {
        width: 120px;
        height: 10px;
        background-color: #dfcc8e;
        margin-top: 20px;
    }
}

.no-result {
    padding: 40px 0;
    & p {
        text-align: center;
        margin: 0;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 640px) {
    .header-search-on-moblie {
        display: none;
    }
}

.product-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .product-price-real {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
    }
    .product-price-discount {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
    }
    &.have-price-discount {
        justify-content: unset;
        .product-price-discount {
            margin-right: 10px;
        }
        .product-price-real {
            text-decoration: line-through;
            margin: 2px 0 0 0;
            font-size: 1.1rem;
        }
    }
}
