:root {
    --btn-background: rgb(0, 0, 0);
    --default-text-font-size: 15px;
    --base-text-font-size: 14px;
    --heading-font-weight: 400;
    --text-font-bolder-weight: 600;
    --text-link-decoration: underline;
    --text-color: #030303;
    --text-color-rgb: 3, 3, 3;
    --heading-color: #030303;
    --border-color: #dfcc8e;
    --border-color-rgb: 223, 204, 142;
    --form-border-color: #d9c37a;
    --accent-color: #030303;
    --accent-color-rgb: 3, 3, 3;
    --link-color: #000000;
    --link-color-hover: #000000;
    --background: #ffffff;
    --secondary-background: #ffffff;
    --secondary-background-rgb: 255, 255, 255;
    --accent-background: rgba(3, 3, 3, 0.08);
    --input-background: #ffffff;
    --error-color: #c45a12;
    --error-background: rgba(196, 90, 18, 0.07);
    --success-color: #6a8057;
    --success-background: rgba(106, 128, 87, 0.11);
    --primary-button-background: #030303;
    --primary-button-background-rgb: 3, 3, 3;
    --primary-button-text-color: #ffffff;
    --secondary-button-background: #030303;
    --secondary-button-background-rgb: 3, 3, 3;
    --secondary-button-text-color: #ffffff;
    --header-background: #ffffff;
    --header-text-color: #030303;
    --header-light-text-color: #030303;
    --header-border-color: rgba(3, 3, 3, 0.3);
    --header-accent-color: #000000;
    --footer-background-color: #f7f7f7;
    --footer-heading-text-color: #030303;
    --footer-body-text-color: #030303;
    --footer-accent-color: #6a8057;
    --footer-accent-color-rgb: 106, 128, 87;
    --footer-border: none;
    --flickity-arrow-color: #c8a83f;
    --product-on-sale-accent: #8e1616;
    --product-on-sale-accent-rgb: 142, 22, 22;
    --product-on-sale-color: #ffffff;
    // BREAKPOINT
    --breakpoint-moblie: 640px;
    --breakpoint-sm-tablet: 768px;
    --breakpoint-tablet: 992px;
    --breakpoint-pc: 1200px;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    height: 100%; //CO HAY KHONG CUNG DUOC
    // overflow-y: hidden;
}
html,
body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// TIPPY
#tippy-5 {
    width: 100% !important;
}

#tippy-8 {
    inset: 0px auto auto -10px !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
    text-decoration: none;
    outline: none;
    list-style: none;
    list-style-type: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    text-decoration: none;
    outline: none;
    list-style: none;
    list-style-type: none;
}

body {
    // position: relative !important;
    // font-family: 'SF Pro Display', sans-serif !important;
    // font-size: 1.6rem !important;
    // color: RGB(0, 8, 28) !important;
    // overscroll-behavior-y: none;
    // overflow-x: hidden !important;
    // overflow-y: auto;
    // width: 100% !important;
    // background-color: #fff !important;
    // transition: all 0.3s ease !important;
    // -moz-transition: all 0.3s ease !important;
    // -webkit-transition: all 0.3s ease !important;
}

// ELEMENT
img {
    max-width: 100%;
    height: auto;
    border-style: none;
    vertical-align: top;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

.disabled-button {
    cursor: not-allowed !important;
    pointer-events: none;
    opacity: 0.5;
}

.text {
    color: red;
    font-weight: 200;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}
div {
    display: block;
    unicode-bidi: isolate;
}

// BOOTSTRAP
.container {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}
@media screen and (min-width: 641px) {
    .container {
        padding: 0 40px;
    }
}

.noGutters {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.noGutters > .col,
.noGutters > [class*='col-'] {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.guttersCustom > .col,
.guttersCustom > [class*='col-'] {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
}

// SEARCH
.search-custom {
    width: 100% !important;
}

// BTN
button {
    padding: 0;
    overflow: visible;
    background: none;
    border: none;
    border-radius: 0;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #555557 !important;
}

.aspect-ratio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 125% !important;
}
