.news-item {
    width: 100%;
    min-height: 100%;
}

.news-item-title {
    font-size: 1.7rem;
    font-weight: 400;
    margin: 15px 0 0px 0;
}

.news-item-description {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.6rem;
    word-break: break-word;
    margin-bottom: 0;
}

.news-item-image-cover {
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    border-radius: 3px;
}

.news-header {
    margin: 28px 0;
    & h1 {
        font-size: 2.1rem;
        font-weight: 400;
    }
}
.news-body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.news-list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 -7px -20px -7px;
}
.article-item {
    margin: 0 7px 40px 7px;
    flex: 1 0 0%;
}

.news-content {
    margin-bottom: 50px;
    .aspect-ratio {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 54%;
    }

    & img {
        object-fit: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        top: 0;
        left: 0;
    }
}
//  News Extra
.news-content-extra-inner {
    & h4 {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 1.8rem;
        font-weight: 500;
    }
}
.news-content-extra-list {
    display: flex;
    align-items: center;
}
.news-content-extra-item {
    display: inline-block;
    margin: 5px;
    &:first-child {
        margin-left: 0;
    }
    & a {
        display: block;
        & .icon-social {
            .facebook,
            .instagram,
            .pinterest,
            .youtube {
                width: 28px;
                height: 28px;
                opacity: 1;
                transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
                will-change: opacity;
            }
            &.facebook {
                &:hover {
                    color: #3b5998;
                    transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
                }
            }
            &.instagram {
                &:hover {
                    color: #d83776;
                    transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
                }
            }
            &.pinterest {
                &:hover {
                    color: #bd081c;
                    transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
                }
            }
            &.youtube {
                &:hover {
                    color: #ff0000;
                    transition: color 0.25s ease-in-out, opacity 0.25s ease-in-out;
                }
            }
        }
    }
}

// Pagination
.news-pagination {
    padding: 40px 0;
    color: #030303;
    font-weight: 600;
    font-size: 1.4rem;
    border-top: 1px solid var(--border-color);
}
.news-pagination-inner {
    position: relative;
}
.news-pagination-nav {
    display: block;
    text-align: center;
}
.news-pagination-nav-item {
    display: inline-block;
    margin: 0 2px;
    padding: 8px 11px;
    line-height: 1;
    transition: color 0.2s ease-in-out;
    &.active {
        background: #030303;
        color: #ffffff;
        border-radius: 3px;
        transition: color 0.2s ease-in-out;
    }
}
.news-pagination-next {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.4rem;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}
.news-pagination-next-icon {
    position: relative;
    width: 8px;
    height: 12px;
    margin-left: 14px;
}

.new-data-list {
    ul {
        display: block;
        list-style: none;
        margin: 12px -20px -10px -20px;
        li {
            font-size: 1.2rem;
            position: relative;
            display: inline-block;
            margin: 0 20px 10px 20px;
            transition: color 0.2s ease-in-out;
            a {
                text-decoration: none;
                color: #000;
            }
            &.active::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1px;
                background: currentColor;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .news-header {
        flex-direction: column;
        align-items: flex-start;
    }
    .news-content {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
    }
    .news-content-extra-wrapper {
        width: 300px;
        margin-left: 60px;
        display: block;
    }
    .news-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .sort-by {
        display: none !important;
    }
}

@media screen and (min-width: 641px) {
    .news-header {
        margin: 35px 0;
    }
    .news-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -15px -30px -15px;
    }
    .article-item {
        margin: 0 15px 25px 15px;
    }
}

@media screen and (max-width: 999px) {
    .news-content-extra {
        display: none;
    }
    .new-data-list {
        display: none;
    }
    .news-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (min-width: 641px) and (max-width: 999px) {
    .news-item {
        width: 50%;
    }
    .news-body {
        display: block;
    }
}
@media screen and (max-width: 640px) {
    .news-body {
        display: block;
    }
    .wrapper-tippy {
        right: -6px !important;
    }
}

.popperover {
    // width: 250px;
    background-color: #ffffff;
    padding: 15px 0;
    box-shadow: 0 0 0 1px rgb(63 63 68 / 5%), 0 1px 3px 0 rgb(63 63 68 / 15%);
    outline: transparent solid 0.1rem;
    z-index: 3;
    min-width: 220px;
    max-height: 250px;
    border-radius: 2px;
    margin-top: 5px;
    overflow-y: auto;
    & span {
        white-space: nowrap;
        font-size: 1.3rem;
        display: block;
        padding: 2px 25px;
        cursor: pointer;
        // text-overflow: ellipsis;
        // overflow: hidden;
        &.active {
            background: rgba(3, 3, 3, 0.08);
            color: var(--accent-color);
            font-weight: normal;
        }
    }
}

.sort-by {
    background: transparent;
    position: relative;
    display: flex;
    border-radius: 2px;
    cursor: pointer;
}
.globo-sort-options {
    position: relative;
    touch-action: auto;
    padding: 0 25px 0 10px;
    float: left;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    outline: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    cursor: pointer;
    & span {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
    }
    &::before {
        display: block;
        width: 20px;
        position: absolute;
        right: 2px;
        z-index: 0;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="%235C5F62"/%3E%3C/svg%3E') !important;
        background-size: 16px !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        content: '';
        height: 100%;
    }
}

.gf-filter-seleted-on-mobile {
    display: block !important;
    padding: 0 5px;
    flex: 0 0 100%;
    font-size: 1.4rem;
    & ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    & li {
        margin: 3px;
        width: auto;
        & div {
            padding: 3px 3px 3px 5px;
            border: 1px solid #e8e8e8;
            border-radius: 2px;
            display: flex;
            align-items: center;
            background: #e8e8e8;
            cursor: pointer;
        }
    }
}
.selected-item-on-mobile {
    display: flex;
    flex-wrap: wrap;
    & strong {
        font-weight: 400;
        text-transform: none;
    }
}
.category-meta-product-count {
    font-size: 1.4rem;
}

.globo-sort-options {
    position: relative;
}
.wrapper-tippy {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    visibility: hidden;
    transition: visibility 0.35s ease-in-out;
    z-index: 1000;
    &.onhide {
        visibility: visible;
        &::before {
            content: '';
            opacity: 0.4;
        }
    }
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transition: opacity 0.35s ease-in-out;
        background: #000000;
        opacity: 0;
    }
}
.value-picker-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--secondary-background);
    transform: translateY(100%);
    transition: visibility 0.2s ease-in-out, transform 0.2s ease-in-out;
    &.onhide-mobile {
        transform: translateY(0);
    }
}

.value-picker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px 16px 20px;
    border-bottom: 1px solid var(--border-color);
}
.value-picker-header-title {
    font-size: 1.6rem;
    font-weight: 600;
}
.value-picker-choice-list {
    padding: 15px 0;
    max-height: 430px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    list-style: none;
}
.filter-item {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    padding: 8px 50px 7px 20px;
    font-size: 1.6rem;
    cursor: pointer;
    &.active {
        color: var(--accent-color);
        font-weight: var(--text-font-bolder-weight);
    }
    &:hover {
        background: var(--accent-background);
        color: var(--accent-color);
        font-weight: normal;
    }
}
.value-picker-icon-check {
    position: absolute;
    right: 15px;
    top: 11px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    &.active {
        transform: scale(1);
    }
}
// --- Layout List Normal---
// .wrapper-tippy {
//     position: absolute;
//     width: auto;
//     height: auto;
//     top: calc(100% + 10px);
//     left: auto;
//     right: -25px;
//     bottom: auto;
//     min-width: 160px;
//     box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
//     visibility: hidden;
//     opacity: 0;
//     transform: scale(0.9);
//     background: var(--secondary-background);
//     color: var(--text-color);
//     z-index: 4;
//     cursor: auto;
//     border-radius: 3px;
//     transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out, visibility 0.25s ease-in-out;
//     will-change: transform;
//     &.onhide {
//         visibility: visible;
//         opacity: 1;
//         transform: scale(1.001);
//         transition: opacity 0.4s cubic-bezier(0, 1, 0.4, 1), transform 0.4s cubic-bezier(0.18, 1.25, 0.4, 1),
//             visibility 0.4s linear;
//     }
// }

// .value-picker-inner {
//     position: relative;
//     width: auto;
//     transform: none !important;
//     transition: none;
//     border-radius: 3px;
//     bottom: 0;
//     left: 0;

//     background: var(--secondary-background);
// }

// .value-picker-choice-list {
//     padding: 15px 0;
//     max-height: none;
//     white-space: nowrap;

//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//     -ms-scroll-chaining: none;
//     overscroll-behavior: none;
//     list-style: none;
// }
// .filter-item {
//     display: block;
//     padding: 2px 25px;
//     cursor: pointer;
//     transition: color 0.15s ease-in-out, background 0.15s ease-in-out;
//     font-size: 14px;
//     &.active {
//         background: var(--accent-background);
//         color: var(--accent-color);
//         font-weight: normal;
//     }
//     &:hover {
//         background: var(--accent-background);
//         color: var(--accent-color);
//         font-weight: normal;
//     }
// }
