.card {
    position: relative;
    margin-bottom: 18px;
    background: var(--secondary-background);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.card-header {
    position: relative;
    padding: 20px 30px 0 30px;
}

// PRODUCT
.category-product-item {
    padding: 0;
    margin-bottom: 0;
    min-width: 100%;
    width: auto;
    z-index: 1;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid #e1e3e4;
    height: auto !important;
}

.aspect-ratio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 150% !important;
}

// GF Filter
.gf-controls-container {
    padding: 0 30px !important;
}

.gf-action {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-left: -8px;
    margin-right: -8px;
}
.gf-filter-selection {
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
}
.sort-limit {
    position: relative;
    background: transparent;
    margin-right: 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    & label {
        padding: 0;
        touch-action: auto;
    }
    & select {
        outline: none;
        height: 38px !important;
        border: none !important;
        width: auto;
        background: 0;
        z-index: 10 !important;
        padding: 0 20px 0 10px !important;
        display: block;
        border-radius: 0;
        box-shadow: none;
        appearance: none;
        -webkit-appearance: none;
        flex: 1 1 auto;
        cursor: pointer;
        font-size: 14px;
    }
    &::before {
        display: block;
        width: 20px;
        position: absolute;
        right: 2px;
        z-index: 0;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cpath d="M10 14a.997.997 0 01-.707-.293l-5-5a.999.999 0 111.414-1.414L10 11.586l4.293-4.293a.999.999 0 111.414 1.414l-5 5A.997.997 0 0110 14z" fill="%235C5F62"/%3E%3C/svg%3E') !important;
        background-size: 16px !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        content: '';
        height: 100%;
    }
}

.category-meta-product-count {
    font-size: 1.4rem;
}
.no-product-in-category {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1.4rem;
    font-weight: 400;
    border-bottom: 1px solid var(--border-color);
}
// Responsive
@media screen and (min-width: 641px) {
    .card {
        margin-bottom: 30px;
        border-radius: 3px;
        border: 1px solid var(--border-color);
    }
}

@media screen and (max-width: 641px) {
    .card-header {
        padding: 20px 20px 0 20px;
    }
}

@media screen and (max-width: 999px) {
    .gf-controls-container {
        display: none;
    }

    .gf-filter-selection {
        flex: 1 1 50%;
        max-width: 50% !important;
        display: block;
    }
}

@media screen and (min-width: 1000px) {
    .no-product-in-category {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen and (max-width: 380px) {
    .gf-filter-selection {
        flex: 1 1 100%;
        max-width: 100% !important;
    }
}
